version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    working_dir: /app
    command: python main.py
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
  frontend:
    build:
      context: ./frontend
    working_dir: /app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
